<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

    <jmxConfigurator/>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){green} [%thread] %clr(%-5level){magenta} %clr(%logger{36}){cyan} - %msg %n %wex</pattern>
        </encoder>
    </appender>

    <logger name="cz.ryvo" level="DEBUG"/>

    <logger name="org.springframework" level="TRACE"/>
    <logger name="org.springframework.security" level="TRACE"/>
    <logger name="org.springframework.cache" level="TRACE"/>

    <root>
        <level value="INFO"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>